<h3><a name="attr-{{name}}">{{name}}</a></h3>
<section>
<table class="attr-data">
<tr><th class="col-type">型</th><th class="col-init">初期値</th></tr>
<tr><td>{{#type}}{{.}}{{/type}}</td><td>{{#default}}<code>{{.}}</code>{{/default}}</td></tr>
</table>