<h3><a name="method-{{name}}">{{name}}</a>{{#chainable}}<span class="badge chainable">chainable</span>{{/chainable}}{{#async}}<span class="badge async">async</span>{{/async}}{{#depricated}}<span class="badge depricated">depricated</span>{{/depricated}}</h3>
<section>
{{#is_param}}<table class="method-args">
  <tr><th colspan="3">引数</th></tr>{{/is_param}}
{{#param}}  <tr><td class="col-arg-type">{{type}}</td><td class="col-arg-name">{{name}}</td><td class="col-arg-info">{{#optional}}<span>(optional)</span> {{/optional}}{{{htmlDesc}}}</td></tr>{{/param}}
{{#is_param}}</table>{{/is_param}}
{{#return}}<dl><dt>戻り値</dt><dd><code>{{type}}</code></dd><dd>{{{htmlDesc}}}</dd></dl>{{/return}}
