<h3><a name="prop-{{name}}">{{name}}</a>{{#badge}}<span class="badge prop-feature">{{.}}</span>{{/badge}}</h3>
<section>
<table class="prop-data">
<tr><th class="col-type">型</th><th class="col-init">初期値</th></tr>
<tr><td>{{#type}}{{.}}{{/type}}</td><td>{{#value}}<code>{{.}}</code>{{/value}}</td></tr>
</table>