<!doctype html>
<html>
  <head>
    <title>Test Page for {{{tagName}}}</title>
    <meta charset="utf8"/>
    
    <!-- testing framework -->
    <link rel="stylesheet" href="{{#paths}}{{{test_prefix}}}{{{mocha_dir}}}{{/paths}}mocha.css"/>
    <script src="{{#paths}}{{{test_prefix}}}{{{chai_dir}}}{{/paths}}chai.js"></script>
    <script src="{{#paths}}{{{test_prefix}}}{{{mocha_dir}}}{{/paths}}mocha.js"></script>
    <script>mocha.setup("bdd");</script>
    
    <!-- target web component -->
    <script src="{{#paths}}{{{test_prefix}}}{{{webcomponents_dir}}}{{/paths}}webcomponents-lite.min.js"></script>
    <link rel="import" href="{{#paths}}{{{test_prefix}}}{{/paths}}{{{tagName}}}.html"/>
  </head>
  <body>
    <!-- component instance -->
    <{{{tagName}}} id="elm"></{{{tagName}}}>
    <!-- result -->
    <div id="mocha"></div>
    <!-- test -->
    <script>
      var assert = chai.assert,
          expect = chai.expect,
          should = chai.should;
      
      var elm = document.getElementById("elm");
      
      describe("{{tagName}}", function(){
        {{#simpleTests}}describe("Simple Assertion Test", function(){ {{/simpleTests}}
{{#simpleTests}}          it("{{{name}}}", function() {
            assert.equal(elm.{{{call}}}, {{{expect}}});
          });

          {{/simpleTests}}
        {{#simpleTests}}});{{/simpleTests}}
        
        {{#tests}}
        describe("{{{testName}}}", function(){
          {{{testCode}}}
        });
        
        {{/tests}}
      });
      
      mocha.checkLeaks();
      if (window.mochaPhantomJS) {
        mochaPhantomJS.run();
      }
      else {
        mocha.run();
      }
    </script>
  </body>
</html>
