{{#demo}}<h2><a href="#demo">demo</a></h2>{{/demo}}
{{#description}}<h2><a href="#description">description</a></h2>{{/description}}
{{#dependencies}}<h2><a href="#dependencies">dependencies</a></h2>{{/dependencies}}
<h2><a href="#properties">properties</a></h2>
<ul>{{#properties}}{{#publish}}<li><a href="#prop-{{name}}">{{name}}</a></li>{{/publish}}{{/properties}}</ul>
<h2><a href="#methods">methods</a></h2>
<ul>{{#methods}}<li><a href="#method-{{name}}">{{name}}</a></li>{{/methods}}</ul>